In [110]:
new = pd.concat([traindata, testdata], axis=0)

In [111]:
new[new['Anon Student Id']=='88Uhb8760x']['Problem Name']=='EG-FACTOR19'

66162    False
66163    False
66164    False
66165    False
66166    False
         ...
315      False
316      False
317      False
318      False
319       True
Name: Problem Name, Length: 4839, dtype: bool

In [112]:
new[new['Problem Name']=='EG-FACTOR19']['Anon Student Id']=='88Uhb8760x'

8353      False
8354      False
8355      False
8356      False
8357      False
          ...
144746    False
144747    False
144748    False
144749    False
319        True
Name: Anon Student Id, Length: 71, dtype: bool

In [117]:
new[144749:144750]

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
144749,701925,1bJbgQ32E3,"Unit QUADRATICS-FACTORING_ES, Section QUADRATI...",EG-FACTOR19,1,FinalAnswer,2006-03-28 14:52:59.0,2006-03-28 14:53:21.0,2006-03-28 14:53:21.0,2006-03-28 14:53:21.0,22.0,22.0,NaN,1.0,0.0,0.0,1.0,factor-quadratic-sp,11

In [183]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.ensemble import RandomForestClassifier, AdaBoostRegressor
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier

In [112]:
# cols = ['Personal CFAR', 'Problem CFAR', 'Anon Student Id', 'Problem Unit', 'Problem Section',\
#         'Step Name', 'Problem Name', 'Problem View', 'Correct First Attempt', 'KC_num', 'Step CFAR', 'KC CFAR']
cols = ['Personal CFAR', 'Problem CFAR',\
        'Problem View', 'Correct First Attempt', 'KC_num', 'Step CFAR', 'KC CFAR', 'KC CFAR(avg)', 'Problem time', 'Step time']

In [45]:
train_file = 'data/train.csv'
test_file = 'data/test.csv'
traindata = pd.read_csv(train_file, sep='\t')
testdata = pd.read_csv(test_file, sep='\t')

In [160]:
student_correct_rate = {}
# CFAR Calculation
for student, group in traindata.groupby(['Anon Student Id']):
    student_correct_rate[student] = (len(group[group['Correct First Attempt'] == 1]), len(group['Correct First Attempt']))
traindata['Personal CFAR'] = traindata['Anon Student Id'].apply(
    lambda x: student_correct_rate[x][0]/student_correct_rate[x][1])
mean_SCFAR = np.mean(
    list(map(lambda x: x[0], list(student_correct_rate.values()))))

problem_correct_rate = {}
problem_time = {}
for problem, group in traindata.groupby(['Problem Name']):
    problem_correct_rate[problem] = 1.0 * len(group[group['Correct First Attempt'] == 1]) / len(group['Correct First Attempt'])
    problem_time[problem] = (group['Step Duration (sec)']).mean() 
    
traindata['Problem CFAR'] = traindata['Problem Name'].apply(
    lambda x: problem_correct_rate[x])
mean_PCFAR = np.mean(list(problem_correct_rate.values()))

traindata['Problem time'] = traindata['Problem Name'].apply(
    lambda x: problem_time[x])
mean_prob_time = np.mean(list(problem_time.values()))
# Seperate
# traindata['Problem Unit'] = traindata['Problem Hierarchy'].str.split(
#     ',', 1).str[0]
# traindata['Problem Section'] = traindata['Problem Hierarchy'].str.split(
#     ',', 1).str[1]

In [162]:
step_correct_rate = {}
step_time = {}
for step, group in traindata.groupby(['Step Name']):
    step_correct_rate[step] = 1.0 * (len(group[group['Correct First Attempt'] == 1]) + 1) / (len(group['Correct First Attempt']) + 2)
    step_time[step] = 1.0 * (group['Step Duration (sec)']).mean() 
                                   
traindata['Step CFAR'] = traindata['Step Name'].apply(lambda x: step_correct_rate[x])
traindata['Step time'] = traindata['Step Name'].apply(lambda x: step_time[x])
mean_STCFAR = np.mean(list(step_correct_rate.values()))
tmp_list = []
for i in step_time.values():
    if not pd.isnull(i):
        tmp_list.append(i)
median_time = np.median(tmp_list)
mean_step_time = np.mean(tmp_list)

In [155]:
print(mean_STCFAR, mean_STIME)
print(traindata[traindata['Step Name'] == '4561.16 = -4371.06(y+7346.41)']['Correct First Attempt'])
for i in step_time.keys():
    if pd.isnull(step_time[i]):
        print(i)

0.6221392479854602 nan
173520    1
Name: Correct First Attempt, dtype: int64
(-1+10)*-6
(-8-6)*-7
(31x-22)/-4 = 28
-0.2 = 85.2(x-81.4)
-20.3 = 8.8y+y+1.9
-3 = -298x/13+12
-3-9 = 5y
-3779.44 = -7663.05(x+5669.58)
-384/47 = 47y/47
-5158.54 = 2458.83(y-3540.29)
-6-8*-4
-67.05 = -96.91(x+78.3)
-7 = -6(x-8)
-7.7 = -6.2(y+3.3)
-8 = -4/x
-9 = (-4x-2)/8
-9 = 10(1x-9)-6x
-x+20-33x = 8
-x+20-46x = -21
0.77612121 = y+61.36
1 = -7x+3
15.7 = -8x
19.1 = 17.3+47.4x-x
25.9y-y-28.5 = -11
3 = -9x-10
3(27y+47)+43y = -13
3.3y-2.4 = 2.7
31 = 20y-y+40
33.9 = y+47.5y-40.4
38.4 = x-9x+22.7
4(2-6)
4+(x/-5) = 8
4+8 = -8+y+8
44.47(y+91.34) = -50.96
45 = 31x+x
4561.16 = -4371.06(y+7346.41)
49+37*5 = y
56Y = -18
6+y/7 = 5
7 = -2/x
8 = -6(x+4)
8.2x-x = 2
81y+141+43y = -13
81y+43y = -154
9/x = 1
9687.01 = 8429.95(x+6521.63)
9x+3 = 5
9y+14y-10 = 4
x = -1-20
x = -13*-25
x+889.18 = 0.37639123

In [156]:
for student, group in traindata.groupby(['Anon Student Id']):
    student_correct_rate[student] = (len(group[group['Correct First Attempt'] == 1]), len(group['Correct First Attempt']))

In [50]:
compound_KCs = set(traindata['KC(Default)'])
KC ={}
KC_correct_rate = {}
for kcs in compound_KCs:
    if pd.isnull(kcs):
        continue
    for kc in kcs.split('~~'):
        KC[kc] = [0,0]
# for KC, group in traindata.groupby(['KC(Default)']):
#     if not pd.isnull(KC):  # KC != 'nan':
#         KC_correct_rate[KC] = 1.0 * len(group[group['Correct First Attempt'] == 1]) / len(
#             group['Correct First Attempt'])
# mean_KCFAR =  np.mean(list(KC_correct_rate.values()))
# traindata['KC CFAR'] = traindata['KC(Default)'].apply(
#     lambda x: KC_correct_rate[x] if not pd.isnull(x) else 0.815)
for _, row in traindata.iterrows():
    if pd.isnull(row['KC(Default)']):
        continue
    else:
        for kc in row['KC(Default)'].split('~~'):
            if row['Correct First Attempt']:
                KC[kc][0] += 1
            KC[kc][1] += 1
KC_correct_rate = {i:KC[i][0]/KC[i][1] for i in KC.keys()}
mean_KCFAR =  np.mean(list(KC_correct_rate.values()))

In [51]:
traindata[0:1]

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default),Personal CFAR,Problem CFAR,Step CFAR
0,9938,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,...,NaN,1,0,0,1,NaN,NaN,0.748749,0.710197,0.840538

In [74]:
tmp = []
for i, row in traindata.iterrows():
    if i%1000 == 0:
        print(i)
    if pd.isnull(row['KC(Default)']):
        tmp.append(0.815)
    else:
#         for kc in row['KC(Default)'].split('~~'):
        tmp.append(sum([KC_correct_rate[kc] for kc in row['KC(Default)'].split('~~')])\
        / (row['KC(Default)'].count("~")+1))
traindata['KC CFAR(avg)'] = tmp

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000

In [80]:
tmp = []
for i, row in traindata.iterrows():
    if i%1000 == 0:
        print(i)
    if pd.isnull(row['KC(Default)']):
        tmp.append(0.815)
    else:
        tmpp = 1.0
        for kc in row['KC(Default)'].split('~~'):
            tmpp *= KC_correct_rate[kc]
        tmp.append(tmpp)
traindata['KC CFAR'] = tmp

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000

In [118]:
traindata[0:6]

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,KC(Default),Opportunity(Default),Personal CFAR,Problem CFAR,Step CFAR,KC CFAR(avg),KC CFAR,KC_num,Problem time,Step time
0,9938,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C1,2005-09-09 12:23:34.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,2005-09-09 12:24:07.0,...,NaN,NaN,0.748749,0.710197,0.840538,0.815000,0.815000,0,40.733454,49.941010
1,9939,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R1C2,2005-09-09 12:24:07.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,2005-09-09 12:24:22.0,...,NaN,NaN,0.748749,0.710197,0.830609,0.815000,0.815000,0,40.733454,32.949725
2,9940,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C1,2005-09-09 12:24:22.0,2005-09-09 12:25:16.0,2005-09-09 12:25:40.0,2005-09-09 12:25:40.0,...,Define Variable,1,0.748749,0.710197,0.966849,0.966979,0.966979,1,40.733454,10.225832
3,9941,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R3C2,2005-09-09 12:25:40.0,2005-09-09 12:25:51.0,2005-09-09 12:27:24.0,2005-09-09 12:27:24.0,...,"Using small numbers~~Write expression, positiv...",1~~1~~1,0.748749,0.710197,0.404504,0.300044,0.124279,3,40.733454,84.677811
4,9942,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R4C1,2005-09-09 12:27:24.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,2005-09-09 12:27:30.0,...,Entering a given,1,0.748749,0.710197,0.760020,0.800770,0.800770,1,40.733454,34.228587
5,9943,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP04,1,R5C1,2005-09-09 12:27:30.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,2005-09-09 12:27:41.0,...,Entering a given,2,0.748749,0.710197,0.755473,0.800770,0.800770,1,40.733454,26.553470

In [157]:
#traindata['KC_length'] = traindata['KC(Default)'].astype("str").apply(lambda x: len(x))
traindata['KC_num'] = traindata['KC(Default)'].astype("str").apply(
    lambda x: 0 if x == 'nan' else (x.count('~~') + 1))
# Seperate
# train_x
train_x = traindata[cols].copy()
train_x['Opportunity(Mean)'] = traindata['Opportunity(Default)'].astype(
    "str").apply(lambda x: np.mean(list(map(int, x.replace('nan', '0').split('~~')))))
train_x['Opportunity(Min)'] = traindata['Opportunity(Default)'].astype(
    "str").apply(lambda x: min(list(map(int, x.replace('nan', '0').split('~~')))))

In [158]:
train_x[1:2]

,Personal CFAR,Problem CFAR,Problem View,Correct First Attempt,KC_num,Step CFAR,KC CFAR,KC CFAR(avg),Problem time,Step time,Opportunity(Mean),Opportunity(Min)
1,0.748749,0.710197,1,1,0,0.830609,0.815,0.815,40.733454,32.949725,0.0,0

In [159]:
# Test
# testdata['Problem Unit'] = testdata['Problem Hierarchy'].str.split(
#     ',', 1).str[0]
# testdata['Problem Section'] = testdata['Problem Hierarchy'].str.split(
#     ',', 1).str[1]
testdata['Personal CFAR'] = testdata['Anon Student Id'].apply(
    lambda x: student_correct_rate[x][0]/student_correct_rate[x][1] if x in student_correct_rate.keys() else mean_SCFAR)
testdata['Problem CFAR'] = testdata['Problem Name'].apply(
    lambda x: problem_correct_rate[x] if x in problem_correct_rate.keys() else mean_PCFAR)
# Add
#testdata['Unit CFAR'] = testdata['Problem Unit'].apply(lambda x: unit_correct_rate[x] if x in unit_correct_rate.keys() else mean_UCFAR)
#testdata['Section CFAR'] = testdata['Problem Section'].apply(lambda x: section_correct_rate[x] if x in section_correct_rate.keys() else mean_SCFAR)
testdata['Step CFAR'] = testdata['Step Name'].apply(
    lambda x: step_correct_rate[x] if x in step_correct_rate.keys() else mean_STCFAR)
# testdata['KC CFAR'] = testdata['KC(Default)'].apply(
#     lambda x: KC_correct_rate[x] if x in KC_correct_rate.keys() else mean_KCFAR)

#testdata['KC_length'] = testdata['KC(Default)'].astype("str").apply(lambda x: len(x))
testdata['KC_num'] = testdata['KC(Default)'].astype("str").apply(
    lambda x: 0 if x == 'nan' else (x.count('~~') + 1))

In [163]:
testdata['Step time'] = testdata['Step Name'].apply(
    lambda x: step_time[x] if x in step_time.keys() else mean_step_time)
testdata['Problem time'] = testdata['Step Name'].apply(
    lambda x: problem_time[x] if x in problem_time.keys() else mean_prob_time)

In [89]:
tmp_list = []
for i, row in testdata.iterrows():
    if pd.isnull(row['KC(Default)']):
        tmp_list.append(0.815) 
    else:
        tmp = 1
        for kc in row['KC(Default)'].split('~~'):
            if kc in KC_correct_rate.keys():
                tmp *= KC_correct_rate[kc]
            else:
                tmp *= mean_KCFAR
        tmp_list.append(tmp)
testdata['KC CFAR'] = tmp_list

tmp_list = []
for i, row in testdata.iterrows():
    if pd.isnull(row['KC(Default)']):
        tmp_list.append(0.815) 
    else:
        tmp = 0
        for kc in row['KC(Default)'].split('~~'):
            if kc in KC_correct_rate.keys():
                tmp += (KC_correct_rate[kc])
            else:
                tmp += (mean_KCFAR)
        tmp_list.append(tmp/(row['KC(Default)'].count("~")+1))
testdata['KC CFAR(avg)'] = tmp_list

In [164]:
####
# test_x
test_x = testdata[cols].copy()
test_x['Opportunity(Mean)'] = testdata['Opportunity(Default)'].astype("str").apply(
    lambda x: np.mean(list(map(int, x.replace('nan', '0').split('~~')))))
test_x['Opportunity(Min)'] = testdata['Opportunity(Default)'].astype(
    "str").apply(lambda x: min(list(map(int, x.replace('nan', '0').split('~~')))))

In [184]:
train_x.head()

,Personal CFAR,Problem CFAR,Problem View,Correct First Attempt,KC_num,Step CFAR,KC CFAR,KC CFAR(avg),Problem time,Step time,Opportunity(Mean),Opportunity(Min)
0,0.748749,0.710197,1,1,0,0.840538,0.815000,0.815000,40.733454,49.941010,0.0,0
1,0.748749,0.710197,1,1,0,0.830609,0.815000,0.815000,40.733454,32.949725,0.0,0
2,0.748749,0.710197,1,0,1,0.966849,0.966979,0.966979,40.733454,10.225832,1.0,1
3,0.748749,0.710197,1,0,3,0.404504,0.124279,0.300044,40.733454,84.677811,1.0,1
4,0.748749,0.710197,1,1,1,0.760020,0.800770,0.800770,40.733454,34.228587,1.0,1

In [165]:
train_x.to_csv('train_pre.csv', sep='\t', index=False)
test_x.to_csv('test_pre.csv', sep='\t', index=False)

In [166]:
train_df = pd.read_csv('train_pre.csv', sep='\t')
test_df = pd.read_csv('test_pre.csv', sep='\t')

In [167]:
len(train_df[train_df['Correct First Attempt'] == 0]) / len(train_df[train_df['Correct First Attempt'] == 1])

0.28051585074659713

In [168]:
# print(test_df.shape)
# test_df = test_df.dropna(how = 'any')
# print(test_df.shape)

In [169]:
train_df.head()

,Personal CFAR,Problem CFAR,Problem View,Correct First Attempt,KC_num,Step CFAR,KC CFAR,KC CFAR(avg),Problem time,Step time,Opportunity(Mean),Opportunity(Min)
0,0.748749,0.710197,1,1,0,0.840538,0.815000,0.815000,40.733454,49.941010,0.0,0
1,0.748749,0.710197,1,1,0,0.830609,0.815000,0.815000,40.733454,32.949725,0.0,0
2,0.748749,0.710197,1,0,1,0.966849,0.966979,0.966979,40.733454,10.225832,1.0,1
3,0.748749,0.710197,1,0,3,0.404504,0.124279,0.300044,40.733454,84.677811,1.0,1
4,0.748749,0.710197,1,1,1,0.760020,0.800770,0.800770,40.733454,34.228587,1.0,1

In [170]:
test_df.head()

,Personal CFAR,Problem CFAR,Problem View,Correct First Attempt,KC_num,Step CFAR,KC CFAR,KC CFAR(avg),Problem time,Step time,Opportunity(Mean),Opportunity(Min)
0,0.748749,0.858006,1,1,0,0.714286,0.815000,0.815000,22.200000,22.200000,0.0,0
1,0.748749,0.766129,1,1,1,0.999435,1.000000,1.000000,17.450453,17.450453,28.0,28
2,0.748749,0.877049,1,1,1,0.622139,0.896476,0.896476,21.959627,24.643487,27.0,27
3,0.748749,0.812217,1,1,1,0.999651,1.000000,1.000000,19.727177,19.727177,65.0,65
4,0.748749,0.869446,7,1,0,0.665421,0.815000,0.815000,41.088807,41.088807,0.0,0

In [171]:
X = train_df.dropna()
y = np.array(X['Correct First Attempt']).astype(int).ravel()
del X['Correct First Attempt']
XX = test_df.dropna()
yy = np.array(XX['Correct First Attempt']).astype(int).ravel()
del XX['Correct First Attempt']

In [172]:
print(X.shape, XX.shape)

(232693, 11) (1140, 11)

In [174]:
# rf Classifier
clf = RandomForestClassifier(n_estimators=100, criterion='gini', max_depth=12, min_samples_split=.01,
                             n_jobs=4, random_state=None, verbose=0)
clf.fit(X, y)
print(clf.feature_importances_)
y_pred = clf.predict_proba(XX)[:,1]
y_pred_train = clf.predict_proba(X)[:,1]
print ('RandomForest', np.sqrt(mean_squared_error(y_pred, yy)))
print('RandomForest train', np.sqrt(mean_squared_error(y_pred_train, y)))

[0.025616   0.04880614 0.00119161 0.01953824 0.61985057 0.09789385
 0.08879899 0.0078693  0.08312284 0.0037748  0.00353766]
RandomForest 0.3583585863954912
RandomForest train 0.3288296472903532

In [175]:
y_pred = clf.predict(XX)
y_pred_train = clf.predict(X)
print ('RandomForest', (mean_squared_error(y_pred, yy)))
print('RandomForest train', (mean_squared_error(y_pred_train, y)))

RandomForest 0.1587719298245614
RandomForest train 0.1533393784944111

In [98]:
y_pred = (clf.predict_proba(XX)[:,1] >= 0.5)
y_pred_train = (clf.predict_proba(X)[:,1] > 0.5)
print ('RandomForest', (mean_squared_error(y_pred, yy)))
print('RandomForest train', (mean_squared_error(y_pred_train, y)))

RandomForest 0.17567567567567569
RandomForest train 0.1986216615680748

In [176]:
y_pred = clf.predict(XX)
y_pred_train = clf.predict(X)
diff = []
for i in range(len(y_pred_train)):
    if y[i] != y_pred_train[i]:
        diff.append(i)
print ('RandomForest', (mean_squared_error(y_pred, yy)))
print('RandomForest train', (mean_squared_error(y_pred_train, y)))

RandomForest 0.1587719298245614
RandomForest train 0.1533393784944111

In [180]:
diff[:50]

[2,
 9,
 10,
 11,
 15,
 17,
 24,
 28,
 31,
 36,
 38,
 39,
 40,
 41,
 50,
 51,
 53,
 56,
 66,
 69,
 72,
 77,
 83,
 91,
 95,
 111,
 114,
 130,
 135,
 138,
 139,
 173,
 177,
 181,
 182,
 189,
 195,
 197,
 200,
 207,
 209,
 212,
 231,
 232,
 242,
 251,
 258,
 263,
 269,
 282]

In [102]:
print(clf.predict_proba(X)[30:51, 1])
print(clf.predict_proba(X)[30:51, 1])
print(y[0:50] == 1)

[0.82294324 0.82388144 0.8253966  0.83528385 0.83528385 0.9115059
 0.46968255 0.8244402  0.57900277 0.58974641 0.82553915 0.82597541
 0.8265386  0.83528385 0.83528385 0.83528385 0.58974641 0.7968761
 0.7968761  0.89799909 0.4387913 ]
[0.82294324 0.82388144 0.8253966  0.83528385 0.83528385 0.9115059
 0.46968255 0.8244402  0.57900277 0.58974641 0.82553915 0.82597541
 0.8265386  0.83528385 0.83528385 0.83528385 0.58974641 0.7968761
 0.7968761  0.89799909 0.4387913 ]
[ True  True False False  True  True  True  True  True False  True False
  True  True  True  True False False  True  True  True  True  True False
 False  True  True  True  True  True  True False  True  True  True  True
  True  True False False False False  True  True  True False  True  True
  True  True]

In [103]:
train_df[30:80] #36,38,39,40, 41,50,51,53,56,
#  69,
#  72,
#  77,
#  83,
#  90,
#  91,
#  95,

,Personal CFAR,Problem CFAR,Problem View,Correct First Attempt,KC_num,Step CFAR,KC CFAR,KC CFAR(avg),Opportunity(Mean),Opportunity(Min)
30,0.748749,0.847368,1,1,1,0.755473,0.800770,0.800770,10.000000,10
31,0.748749,0.847368,1,0,1,0.694035,0.800770,0.800770,11.000000,11
32,0.748749,0.847368,1,1,1,0.707618,0.800770,0.800770,12.000000,12
33,0.748749,0.832061,1,1,0,0.840538,0.815000,0.815000,0.000000,0
34,0.748749,0.832061,1,1,0,0.830609,0.815000,0.815000,0.000000,0
35,0.748749,0.832061,1,1,1,0.966849,0.966979,0.966979,4.000000,4
36,0.748749,0.832061,1,1,3,0.404504,0.124279,0.300044,6.000000,4
37,0.748749,0.832061,1,1,1,0.760020,0.800770,0.800770,13.000000,13
38,0.748749,0.832061,1,0,3,0.708202,0.184001,0.344642,6.000000,2
39,0.748749,0.832061,1,0,3,0.737218,0.184001,0.344642,7.000000,3
40,0.748749,0.832061,1,0,1,0.755473,0.800770,0.800770,14.000000,14
41,0.748749,0.832061,1,0,1,0.694035,0.800770,0.800770,15.000000,15
42,0.748749,0.832061,1,1,1,0.757448,0.800770,0.800770,16.000000,16
43,0.748749,0.832061,1,1,0,0.880257,0.815000,0.815000,0.000000,0
44,0.748749,0.832061,1,1,0,0.888889,0.815000,0.815000,0.000000,0
45,0.748749,0.832061,1,0,0,0.400000,0.815000,0.815000,0.000000,0
46,0.748749,0.832061,1,1,3,0.707618,0.183935,0.344593,7.666667,3
47,0.748749,0.745928,1,1,0,0.840538,0.815000,0.815000,0.000000,0
48,0.748749,0.745928,1,1,0,0.830609,0.815000,0.815000,0.000000,0
49,0.748749,0.745928,1,1,1,0.966849,0.966979,0.966979,5.000000,5
50,0.748749,0.745928,1,1,3,0.404504,0.124279,0.300044,9.000000,5
51,0.748749,0.745928,1,0,3,0.760020,0.183935,0.344593,9.333333,4
52,0.748749,0.745928,1,1,1,0.567815,0.800770,0.800770,17.000000,17
53,0.748749,0.745928,1,0,3,0.708202,0.184001,0.344642,10.000000,4
54,0.748749,0.745928,1,1,1,0.755473,0.800770,0.800770,18.000000,18
55,0.748749,0.745928,1,1,1,0.737218,0.800770,0.800770,19.000000,19
56,0.748749,0.745928,1,0,3,0.757448,0.184001,0.344642,11.000000,5
57,0.748749,0.745928,1,1,1,0.707618,0.800770,0.800770,20.000000,20
58,0.748749,0.745928,2,1,0,0.880257,0.815000,0.815000,0.000000,0
59,0.748749,0.745928,2,1,0,0.750000,0.815000,0.815000,0.000000,0
60,0.748749,0.745928,2,0,2,0.333333,0.777728,0.588334,1.000000,1
61,0.748749,0.745928,2,1,0,0.800000,0.815000,0.815000,0.000000,0
62,0.748749,0.745928,2,0,2,0.500000,0.777728,0.588334,2.000000,2
63,0.748749,0.745928,2,1,3,0.760020,0.183935,0.344593,11.666667,5
64,0.748749,0.745928,2,1,0,0.800000,0.815000,0.815000,0.000000,0
65,0.748749,0.745928,2,1,2,0.750000,0.777728,0.588334,3.000000,3
66,0.748749,0.745928,2,1,3,0.694035,0.183935,0.344593,12.666667,6
67,0.748749,0.748062,1,1,0,0.840538,0.815000,0.815000,0.000000,0
68,0.748749,0.748062,1,1,0,0.830609,0.815000,0.815000,0.000000,0
69,0.748749,0.748062,1,0,1,0.719612,0.796004,0.796004,1.000000,1
70,0.748749,0.748062,1,1,1,0.966849,0.966979,0.966979,6.000000,6
71,0.748749,0.748062,1,0,3,0.404504,0.124279,0.300044,13.333333,6
72,0.748749,0.748062,1,0,1,0.567815,0.800770,0.800770,21.000000,21
73,0.748749,0.748062,1,1,0,0.880257,0.815000,0.815000,0.000000,0
74,0.748749,0.748062,1,1,0,0.727273,0.815000,0.815000,0.000000,0
75,0.748749,0.748062,1,1,2,0.750000,0.709235,0.561463,2.500000,1
76,0.748749,0.748062,1,1,2,0.750000,0.777728,0.588334,4.500000,4
77,0.748749,0.748062,1,0,3,0.760020,0.183935,0.344593,14.333333,7
78,0.748749,0.748062,1,1,1,0.755473,0.800770,0.800770,22.000000,22
79,0.748749,0.748062,1,1,1,0.694035,0.800770,0.800770,23.000000,23

In [380]:
testdata[14:23]

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,...,Hints,Corrects,KC(Default),Opportunity(Default),Problem Unit,Problem Section,Personal CFAR,Problem CFAR,KC CFAR,KC_num
14,21616,8o0mJnIpFH,"Unit CTA1_06, Section CTA1_06-3",JAN05,2,R5C1,NaN,NaN,NaN,NaN,...,NaN,NaN,Using simple numbers~~Using large numbers~~Fin...,24~~15~~18,Unit CTA1_06,Section CTA1_06-3,1344,0.777679,0.686542,3
15,22178,8o0mJnIpFH,"Unit ES_03, Section ES_03-6",EG51A,2,constant termsR2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Unit ES_03,Section ES_03-6,1344,0.885030,0.559564,0
16,22320,8o0mJnIpFH,"Unit CTA1_08, Section CTA1_08-2",FEB03,1,yMin,NaN,NaN,NaN,NaN,...,NaN,NaN,Changing axis bounds,98,Unit CTA1_08,Section CTA1_08-2,1344,0.763982,0.775749,1
17,22862,8o0mJnIpFH,"Unit ES_04, Section ES_04-15",LIT58,1,7+y*(b+n) = r+f,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Eliminate Parens; {CLT nested; CLT...,70,Unit ES_04,Section ES_04-15,1344,0.741007,0.865864,1
18,23277,8o0mJnIpFH,"Unit CTA1_10, Section CTA1_10-5",DISTFB08_SP,1,R3C2,NaN,NaN,NaN,NaN,...,NaN,NaN,"Using simple numbers~~Write expression, positi...",78~~45~~56,Unit CTA1_10,Section CTA1_10-5,1344,0.806701,0.460606,3
19,23522,8o0mJnIpFH,"Unit ES_07, Section ES_07-4",LIT63A,1,n*t-h*r = c*j+z*n,NaN,NaN,NaN,NaN,...,NaN,NaN,"[SkillRule: Remove constant; {ax+b=c, positive...",228,Unit ES_07,Section ES_07-4,1344,0.821018,0.787275,1
20,23621,8o0mJnIpFH,"Unit CTA1_12, Section CTA1_12-2",SYS03,1,R3C3,NaN,NaN,NaN,NaN,...,NaN,NaN,Using simple numbers~~Using small numbers~~Wri...,94~~104~~55,Unit CTA1_12,Section CTA1_12-2,1344,0.667472,0.518980,3
21,35682,g209g5Vve6,"Unit CTA1_08, Section CTA1_08-3",REAL37,1,Slope Field 1,NaN,NaN,NaN,NaN,...,NaN,NaN,Entering the slope,20,Unit CTA1_08,Section CTA1_08-3,2579,0.823810,0.787045,1
22,36252,g209g5Vve6,"Unit ES_04, Section ES_04-14",LIT23A,1,(n*j+56)/n = r/n,NaN,NaN,NaN,NaN,...,NaN,NaN,[SkillRule: Multiply/Divide; [Typein Skill: {R...,28,Unit ES_04,Section ES_04-14,2579,0.784946,0.912086,1

In [301]:
X.head()

,Personal CFAR,Problem CFAR,Problem View,KC_num,KC CFAR,Opportunity(Mean),Opportunity(Min)
0,0.748749,0.710197,1,0,0.559564,0.0,0
1,0.748749,0.710197,1,0,0.559564,0.0,0
2,0.748749,0.710197,1,1,0.966979,1.0,1
3,0.748749,0.710197,1,3,0.443541,1.0,1
4,0.748749,0.710197,1,1,0.817953,1.0,1

In [185]:
print(y_pred)

[0.70464794 0.90034861 0.83940296 0.84467888 0.49334496 0.85447626
 0.49517352 0.86528865 0.10559067 0.92120628 0.96245791 0.90367308
 0.87289405 0.89071147 0.98253456 0.8646177  0.67579006 0.97146262
 0.85377044 0.77064164 0.92158692 0.8646177  0.68108584 0.60320665
 0.96886464 0.93483043 0.88320112 0.87838016 0.70738053 0.86679648
 0.70158135 0.86834382 0.40540573 0.92732408 0.8915245  0.84623782
 0.93000898 0.52922163 0.91979022 0.94271517 0.8170657  0.80453617
 0.93609541 0.92456514 0.87304289 0.48123825 0.68104276 0.9707783
 0.52903393 0.85638998 0.87555089 0.7498415  0.39065227 0.89530165
 0.75886506 0.62971913 0.92738666 0.86550894 0.59002595 0.89933063
 0.87615004 0.75660832 0.87405193 0.66418015 0.97215128 0.81643729
 0.87918949 0.91536172 0.95444488 0.96747534 0.90900121 0.34462517
 0.87520704 0.8565948  0.89598835 0.83008866 0.74593356 0.5292577
 0.99202433 0.81035389 0.40880319 0.95548772 0.74242421 0.83248034
 0.90379095 0.45440824 0.67411262 0.97904026 0.49805623 0.84923214
 0.76274214 0.983888   0.84994511 0.49755383 0.54236363 0.88186667
 0.71248209 0.9172313  0.90203544 0.95594817 0.89148154 0.41140789
 0.83348074 0.75378819 0.87300124 0.86771761 0.75602176 0.71584157
 0.92388006 0.91696422 0.6074588  0.96730298 0.88826443 0.9189947
 0.8437734  0.57156985 0.89282247 0.88122243 0.91511608 0.85841833
 0.91288551 0.96628532 0.91084889 0.76092761 0.92698226 0.90255751
 0.93950756 0.96964748 0.89488963 0.90865543 0.60451249 0.88213816
 0.90307054 0.86786353 0.98816657 0.9081474  0.83958352 0.84837277
 0.49070892 0.98120232 0.79996377 0.95307352 0.8810856  0.8789183
 0.90878603 0.98118014 0.89127882 0.70256985 0.33001769 0.75044622
 0.75486588 0.97542443 0.92819244 0.8803974  0.93451635 0.97438694
 0.98980848 0.96258401 0.76487287 0.86872393 0.84891523 0.8960709
 0.87425794 0.67412884 0.90729215 0.80058108 0.85725416 0.65929941
 0.74445296 0.87572296 0.8281868  0.82665854 0.85661984 0.89386257
 0.93619528 0.99334752 0.7431411  0.92641119 0.87337991 0.90561655
 0.94958083 0.9047344  0.89294013 0.80045876 0.96302744 0.2909279
 0.88065421 0.91222573 0.89810998 0.685314   0.66919224 0.76010006
 0.6198615  0.81574721 0.89760207 0.26967376 0.89462623 0.91151248
 0.83526127 0.89512765 0.89659232 0.84047512 0.52882575 0.84962782
 0.83815564 0.86932687 0.89071477 0.74326483 0.8930913  0.5493455
 0.92826967 0.9007195  0.91737831 0.93930503 0.94594845 0.83485915
 0.76887386 0.88468832 0.76064135 0.75329701 0.79532935 0.46369884
 0.73561589 0.94595045 0.12179719 0.89643133 0.88714934 0.71763849
 0.88555789 0.80281781 0.38900812 0.8951823  0.8226695  0.70510731
 0.8828678  0.81475455 0.95231265 0.8843681  0.65404912 0.41783245
 0.78414492 0.88792705 0.86405579 0.87676821 0.77500708 0.7431454
 0.97582636 0.93553358 0.90979947 0.88961054 0.75839679 0.95837893
 0.88454231 0.9812729  0.82042358 0.84456592 0.89087506 0.95672729
 0.98361584 0.88940831 0.88694262 0.85981791 0.61394076 0.95834561
 0.88430345 0.57320959 0.96079938 0.85154816 0.81678938 0.85599191
 0.98150622 0.84277172 0.8947147  0.87179028 0.79197452 0.5057005
 0.51825177 0.92396013 0.9591423  0.67740694 0.87306642 0.90420927
 0.91474808 0.65901996 0.90681556 0.7882621  0.91376894 0.79665854
 0.84860841 0.88952788 0.73971575 0.95259398 0.79890668 0.69577283
 0.529116   0.87722391 0.89815682 0.9093679  0.59172492 0.81375575
 0.60527108 0.53428255 0.87164002 0.71304303 0.89544112 0.64997493
 0.84680079 0.90497679 0.97499527 0.86826607 0.97827237 0.73944233
 0.58827952 0.89464975 0.85189724 0.84740359 0.77221821 0.84300988
 0.49865994 0.87716879 0.95995016 0.46183905 0.89683641 0.86972907
 0.9095957  0.88878793 0.880539   0.46465856 0.90539291 0.91285186
 0.81672434 0.97538476 0.92322571 0.911307   0.9716859  0.90089015
 0.52672199 0.54307582 0.83066425 0.9759478  0.87347489 0.89078331
 0.88557691 0.74757818 0.88072714 0.90595481 0.8944323  0.89091812
 0.89011773 0.93828582 0.54871687 0.6249926  0.90563153 0.95900578
 0.72265852 0.92057026 0.84564013 0.86809855 0.92962428 0.74974956
 0.97541169 0.98787991 0.93884032 0.86568167 0.85345737 0.79818386
 0.89769106 0.87307035 0.92777181 0.85852638 0.82026037 0.92044411
 0.66112388 0.9100477  0.83562229 0.9099917  0.93539956 0.64657592
 0.97469443 0.91279967 0.74803732 0.75584536 0.74337196 0.85897816
 0.8962376  0.87889833 0.63548336 0.91453823 0.75858663 0.98118014
 0.98110594 0.83210566 0.78759169 0.9841912  0.89266839 0.76298375
 0.88580906 0.97068988 0.96090048 0.61196679 0.90248448 0.9234846
 0.91596888 0.95797756 0.8323077  0.91952498 0.90592028 0.97385425
 0.90712235 0.88755731 0.54486471 0.89604656 0.67382525 0.90425469
 0.80061661 0.88696686 0.90181915 0.66383427 0.91546079 0.89698964
 0.72320236 0.88433594 0.96322002 0.87336834 0.93766672 0.89809946
 0.6382236  0.86467551 0.9813562  0.90363432 0.85878151 0.88564539
 0.90046403 0.91157673 0.91226004 0.91226499 0.85076085 0.8681516
 0.86403794 0.85465503 0.70788618 0.96474204 0.87625782 0.95617236
 0.79250872 0.89177641 0.87085829 0.84082323 0.89265792 0.9813562
 0.97995104 0.14312758 0.79213891 0.73243746 0.84705862 0.87994294
 0.88576008 0.95270488 0.61395742 0.89370867 0.85552297 0.16983435
 0.84124878 0.87800871 0.9044025  0.91163546 0.84430451 0.92499549
 0.95490748 0.79023651 0.96073019 0.93882099 0.942691   0.67284762
 0.7487595  0.46285323 0.77232642 0.95475025 0.96789794 0.96586243
 0.51405524 0.88639462 0.89182461 0.95962048 0.91134439 0.79830686
 0.72227103 0.8950518  0.91737058 0.94741235 0.69583727 0.66286267
 0.77636668 0.89830871 0.87040753 0.84853497 0.89259553 0.89132781
 0.23069    0.98049116 0.98150061 0.5886371  0.40607873 0.71208385
 0.60865592 0.96667021 0.85537519 0.83923371 0.74393824 0.71583946
 0.96666435 0.8864411  0.90700913 0.59454526 0.88757659 0.89741346
 0.97583172 0.94660587 0.8893722  0.88547772 0.97930065 0.87366635
 0.89369083 0.90781778 0.85043956 0.89150661 0.64626481 0.68809485
 0.8495834  0.99445418 0.96498385 0.9186879  0.8756155  0.8864411
 0.87232099 0.77703163 0.64676367 0.90472422 0.81633896 0.92008045
 0.76430306 0.88686166 0.87865694 0.80112599 0.75933162 0.98089993
 0.89936244 0.92287601 0.94308976 0.96963237 0.84720618 0.97334277
 0.92140777 0.91499633 0.8618523  0.86030541 0.75953131 0.97260457
 0.51229553 0.88908386 0.81190658 0.86123826 0.5610135  0.70252832
 0.84064728 0.91035711 0.89761494 0.83814562 0.880223   0.90282549
 0.74603912 0.96696332 0.80416954 0.88868973 0.87306293 0.89934706
 0.98975512 0.89949291 0.82357275 0.86827004 0.87080756 0.53326319
 0.77024726 0.81582375 0.94059176 0.91731772 0.86991193 0.96079971
 0.88558259 0.95003778 0.89609133 0.89683153 0.6843892  0.9746152
 0.91898672 0.83344197 0.84033968 0.88015226 0.88462027 0.88619954
 0.6739529  0.97677911 0.88852368 0.66865721 0.82564031 0.86833199
 0.86635479 0.90343896 0.85662279 0.86958978 0.85601805 0.77588501
 0.8723089  0.93711499 0.90628076 0.7880113  0.88232707 0.67564449
 0.41828916 0.57080468 0.78403205 0.97636868 0.92728118 0.96610417
 0.80578468 0.89720389 0.91102378 0.61729631 0.81438173 0.89349979
 0.89365157 0.66209961 0.92882123 0.98454567 0.85211119 0.62608796
 0.94456777 0.31857055 0.9024057  0.94717485 0.90224018 0.97936422
 0.43448948 0.8995229  0.89181146 0.89598238 0.86723381 0.38567676
 0.93953058 0.88181391 0.88106578 0.32712079 0.87064695 0.7701817
 0.47270786 0.91057839 0.86554958 0.87800524 0.86795124 0.96949821
 0.66567459 0.60683252 0.88785487 0.23115545 0.86945683 0.72416628]

In [32]:
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier(n_estimators=50, criterion='gini', max_depth=None, min_samples_split=.01,
                             n_jobs=4, random_state=None, verbose=0)
# clf.fit(X, y)
score_pre = cross_val_score(clf, X, y, cv=10).mean()

In [250]:
score_pre

0.8458693081172713

In [253]:
clf.predict(X)

array([1, 1, 1, ..., 1, 0, 1])

In [125]:
import matplotlib.pyplot as plt

In [232]:
scorel = []
for i in [9, 10, 11, 12, 13, 14]:
    print(i)
    rfc = RandomForestClassifier(n_estimators=100,
                                 n_jobs=-1,
                                 random_state=90,
                                 max_depth=i)
    score = cross_val_score(rfc, X, y,cv=10).mean()
    scorel.append(score)
# print(max(scorel),(scorel.index(max(scorel))*10)+1)
# plt.figure(figsize=[20,5])
# plt.plot(range(1,201,10),scorel)
# plt.show()

9
10
11
12
13
14

In [233]:
scorel

[0.8487566142181219,
 0.849671763838573,
 0.8506041122029468,
 0.8508017408453185,
 0.8501658349829938,
 0.8500541105276727]

In [229]:
scorel

[0.8393814112122644,
 0.8436651906715931,
 0.8477898790728894,
 0.8506041122029468]

In [164]:
X

,Personal CFAR,Problem CFAR,Problem View,KC_num,Step CFAR,KC CFAR,Opportunity(Mean),Opportunity(Min)
0,0.748749,0.710197,1,0,0.840631,0.559564,0.0,0
1,0.748749,0.710197,1,0,0.830699,0.559564,0.0,0
2,0.748749,0.710197,1,1,0.966979,0.966979,1.0,1
3,0.748749,0.710197,1,3,0.404477,0.443541,1.0,1
4,0.748749,0.710197,1,1,0.760107,0.817953,1.0,1
...,...,...,...,...,...,...,...,...
232739,0.733333,0.776978,1,2,0.755559,0.572193,11.0,1
232740,0.733333,0.776978,1,0,0.830699,0.559564,0.0,0
232741,0.733333,0.776978,1,1,0.851036,0.796004,7.0,7
232742,0.733333,0.776978,1,3,0.404477,0.443541,8.0,5
232743,0.733333,0.776978,1,1,0.737349,0.817953,22.0,22

In [163]:
train_df.head()

,Personal CFAR,Problem CFAR,Problem View,Correct First Attempt,KC_num,Step CFAR,KC CFAR,Opportunity(Mean),Opportunity(Min)
0,0.748749,0.710197,1,1,0,0.840631,0.559564,0.0,0
1,0.748749,0.710197,1,1,0,0.830699,0.559564,0.0,0
2,0.748749,0.710197,1,0,1,0.966979,0.966979,1.0,1
3,0.748749,0.710197,1,0,3,0.404477,0.443541,1.0,1
4,0.748749,0.710197,1,1,1,0.760107,0.817953,1.0,1

In [455]:
## Adaboost
clf = AdaBoostRegressor(base_estimator=None, n_estimators=50,
                        learning_rate=1.0, loss='exponential',
                        random_state=None)
clf.fit(X, y)
y_pred = clf.predict(XX)
# print clf.best_estimator_
print ('AdaBoost', np.sqrt(mean_squared_error(y_pred, yy)))

AdaBoost 0.4022577513799062

In [459]:
##  Gradient Decision Tree
clf = GradientBoostingClassifier(n_estimators=200)
clf.fit(X, y)
y_pred = clf.predict_proba(XX)[:, 1]
#print (clf.best_estimator_)
print ('GBDTClassifier', np.sqrt(mean_squared_error(y_pred, yy)))

GBDTClassifier 0.35528424518488205

In [460]:
clf.feature_importances_

array([0.03415561, 0.03488461, 0.00139682, 0.00143972, 0.85860611,
       0.06210847, 0.00317993, 0.00422874])

In [461]:
## Logistic Regression
clf = LogisticRegression(penalty='l2')
clf.fit(X, y)
y_pred = clf.predict_proba(XX)[:, 1]
#print (clf.best_estimator_)
print ('LogicalClassifier', np.sqrt(mean_squared_error(y_pred, yy)))

LogicalClassifier 0.36332021103646334

/Users/zhengyuting/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [462]:
clf.feature_importances_

AttributeError: 'LogisticRegression' object has no attribute 'feature_importances_'

In [151]:
train_df = pd.read_csv('train_pre.csv', sep='\t')
test_df = pd.read_csv('test_pre.csv', sep='\t')

In [152]:
X = train_df.dropna()
y = np.array(X['Correct First Attempt']).astype(int).ravel()
del X['Correct First Attempt']
XX = test_df
yy = np.array(XX['Correct First Attempt']).astype(float).ravel()
del XX['Correct First Attempt']

In [153]:
test_df.shape

(1140, 8)

In [154]:
clf = RandomForestClassifier(n_estimators=50, criterion='gini', max_depth=None, min_samples_split=.01,
                                     n_jobs=4, random_state=None, verbose=0)
clf.fit(X, y)
y_pred = clf.predict_proba(XX)[:, 1]

In [155]:
for index, val in enumerate(yy):
    if np.isnan(val):
        yy[index] = y_pred[index]

In [158]:
test_df.shape

(1140, 8)

In [161]:
yy[:50]

array([0.89273528, 0.98985909, 0.92387302, 0.99123919, 0.77079667,
       0.91872856, 0.39559033, 0.86767413, 0.92602309, 0.91014879,
       0.89029571, 0.79518089, 0.96343833, 0.88215236, 0.        ,
       1.        , 1.        , 1.        , 0.        , 0.        ,
       0.        , 1.        , 0.        , 1.        , 1.        ,
       1.        , 0.        , 1.        , 1.        , 1.        ,
       0.        , 1.        , 1.        , 0.        , 0.81382866,
       0.89591608, 0.89461552, 0.91169137, 0.65994123, 0.89757478,
       0.92482836, 0.80632635, 0.89283023, 0.90815411, 0.72314761,
       0.91702249, 0.95441284, 0.82024888, 0.9188468 , 0.83291441])

In [142]:
test = pd.read_csv('data/test.csv', sep='\t')

In [143]:
test.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,10039,52vEY7f17k,"Unit CTA1_13, Section CTA1_13-1",PROP01,1,2/300*X = 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10482,52vEY7f17k,"Unit CTA1_06, Section CTA1_06-3",FOR05,1,xScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Changing axis intervals,28
2,11024,52vEY7f17k,"Unit ES_03, Section ES_03-6",EG52,1,2.9 = -2x+3.7+x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[SkillRule: Consolidate vars, no coeff; CLT]",27
3,11476,52vEY7f17k,"Unit CTA1_08, Section CTA1_08-3",REAL10,1,yScale,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Changing axis intervals,65
4,11948,52vEY7f17k,"Unit ES_04, Section ES_04-12",EG58,7,xR2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [321]:
train_file = 'data/train.csv'
test_file = 'data/test.csv'
# cols = ['Personal CFAR', 'Problem CFAR', 'Anon Student Id', 'Problem Unit', 'Problem Section',\
#         'Step Name', 'Problem Name', 'Problem View', 'Correct First Attempt', 'KC_num', 'Step CFAR', 'KC CFAR']
cols = ['Personal CFAR', 'Problem CFAR',\
        'Problem View', 'Correct First Attempt', 'KC_num', 'KC CFAR']


traindata = pd.read_csv(train_file, sep='\t')

In [310]:
KC_correct_rate = {}
for KC, group in traindata.groupby(['KC(Default)']):
    if not pd.isnull(KC):  # KC != 'nan':
        KC_correct_rate[KC] = 1.0 * len(group[group['Correct First Attempt'] == 1]) / len(
            group['Correct First Attempt'])

In [312]:
for _, row in traindata.iterrows():
    split_KC = []
    if pd.isnull(row['KC(Default)']):
        continue
    split_KC
    break

0 Row                                                       9938
Anon Student Id                                     52vEY7f17k
Problem Hierarchy              Unit CTA1_13, Section CTA1_13-1
Problem Name                                            PROP04
Problem View                                                 1
Step Name                                                 R1C1
Step Start Time                          2005-09-09 12:23:34.0
First Transaction Time                   2005-09-09 12:24:07.0
Correct Transaction Time                 2005-09-09 12:24:07.0
Step End Time                            2005-09-09 12:24:07.0
Step Duration (sec)                                         33
Correct Step Duration (sec)                                 33
Error Step Duration (sec)                                  NaN
Correct First Attempt                                        1
Incorrects                                                   0
Hints                                                        0
Corrects                                                     1
KC(Default)                                                NaN
Opportunity(Default)                                       NaN
Name: 0, dtype: object

In [320]:
traindata['Personal CFAR'] = (testdata['Anon Student Id']) #testdata['Anon Student Id']#.apply(lambda x: student_correct_rate[x][0] if x in student_correct_rate.keys() else mean_SCFAR)

In [316]:
traindata.columns

Index(['Row', 'Anon Student Id', 'Problem Hierarchy', 'Problem Name',
       'Problem View', 'Step Name', 'Step Start Time',
       'First Transaction Time', 'Correct Transaction Time', 'Step End Time',
       'Step Duration (sec)', 'Correct Step Duration (sec)',
       'Error Step Duration (sec)', 'Correct First Attempt', 'Incorrects',
       'Hints', 'Corrects', 'KC(Default)', 'Opportunity(Default)',
       'Personal CFAR'],
      dtype='object')

In [ ]:
def get_kc_dummies(row, headers, col):
    tokens = row[col].split("~~")
    opps = np.asarray([int(s) if s.lower() != "nan" else 0 for s in row["Opportunity(Default)"].split("~~")])
    opps = np.log(opps + 1)
    sr = pd.Series(np.zeros(len(headers)), index = headers)
    sr[tokens] = opps
    return sr.to_sparse(fill_value=0)

In [ ]:
compound_KCs = set(df["KC(Default)"])
print("KC(Default) has %d compound values." % len(compound_KCs))
KCs = set()
for s in compound_KCs:
    KCs = KCs.union(set(s.split("~~")))

print("There are %d atomic KCs, so we will be adding as many columns to this dataframe" % len(KCs))

# Cast and split columns
kc_features = df.apply(get_kc_dummies, axis=1, result_type="expand", args=(KCs, "KC(Default)"))
kc_features.head()

In [308]:
print(len(student_correct_rate),len(problem_correct_rate),len(step_correct_rate), len(KC_correct_rate))

174 1021 60709 348

In [314]:
student_correct_rate['02i5jCrfQK']

(5171, 6654)